@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
:root {
  --background: #fff;
  --color1: #140152;
  --color2: #00b4d8;
  --color3: #0077b6;
  --color4: #808080;
  --color5: #f1f1f0;
  --color6: #001d38;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Rubik", sans-serif;

  list-style: none;
}
header {
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 140px;
  color: var(--color1);
  font-weight: 400;
  background-color: var(--color5);
  position: fixed;
  top: 0;
  box-shadow: 0 7px 10px var(--color4);
  z-index: 3;
}

.logo {
  height: 75px;
}

.logousuario {
  color: var(--color1);
  border: solid var(--color1) 2px;
  padding: 9px 15px;
  border-radius: 10px;
}

.navbar-a {
  color: var(--color1);
  font-weight: 500;
  font-size: 16px;
}

.navbar-a:hover {
  color: var(--color2);
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-right: 10px;
}

.navbar-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.menu-label {
  display: none;
}

/* -----------------------  Carro de compras (Header) ------------------------- */
.cart-icon {
  border: solid 2px var(--color1);
  padding: 9px 15px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: var(--color1);
  position: relative;
}
/* burbuja del carro */
.carro-burbuja {
  border: solid var(--color3) 2px;
  background-color: var(--color3);
  color: var(--background);
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  height: 18px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1px;
  border-radius: 50%;
}

.divcarro {
  position: absolute;
  top: 75px;
  right: 0;
  padding: 8px 35px;
  background-image: linear-gradient(
    to bottom,
    rgb(235, 226, 226),
    rgb(161, 161, 161)
  );
  display: flex;

  flex-direction: column;
  gap: 30px;
  height: 100vh;
  z-index: 2;
  overflow-y: scroll;
  transform: translate(200%);
  transition: all 0.3s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}
.open-cart {
  transform: translate(0%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.carro-imgvene {
  height: 150px;
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.divcarro::-webkit-scrollbar {
  display: none;
}

.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.cart-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border: solid 2px var(--color5);
  border-radius: 15px;
}

.cart-item img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
  height: 150px;
  width: 297px;
}

.item-bid {
  color: var(--color3);
  font-size: 15px;
  font-weight: 600;
  margin-top: 5px;
}
.divPrecioCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.pPrecioCart {
  color: #ff6347;
  font-weight: 500;
}

.item-price {
  color: #ff6347;
  font-size: 20px;
  font-weight: 600;
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  padding-top: 2px;
}
.item-quantity {
  color: #ff6347;
}
.item-bid-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.item-bid-price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-bid-price span {
  color: #ff6347;
  font-weight: 600;
  font-size: 1.4rem;
}

.divcarro h2 {
  color: var(--color3);
  font-size: 22px;
  font-weight: 800;
}
.divcarro-item {
  display: flexa;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 10px;
  padding: 20px;
}
.divcarro-item img {
  height: 165px;
  width: 65px;
}

.item-title {
  color: var(--color3);
  font-weight: 600;
  font-size: 22px;
  display: flex;
  justify-content: center;
}

.item-handler {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.quantity-handler {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  border-radius: 5px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 15px;
}

.down {
  background: #ff6347;
  cursor: pointer;
  color: var(--background);
  transition: transform 1s ease;
}

.up {
  background: var(--color3);
  cursor: pointer;
  transition: transform 1s ease;
}
.cant-per {
  color: var(--color1);
  font-size: 18px;
  font-weight: 700;
}

.divider {
  margin-top: 5px;
  border: 0.5px solid var(--color5);
}
.card-total {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.card-total p {
  color: #ff6347;
  font-weight: 700;
}

.card-total span {
  color: #ff6347;
  font-weight: 600;
  font-size: 18px;
}
.carroDivBotones {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.btn-buy {
  border: none;
  border-radius: 8px;
  width: 70%;
  background-color: var(--color3);
  color: var(--background);
  font-size: 15px;
  font-weight: 500;
  padding: 8px 20px;
}
.btn-delete {
  border: none;
  border-radius: 8px;
  width: 70%;
  background-color: var(--color6);
  color: var(--background);
  font-size: 15px;
  font-weight: 500;
  padding: 4px 20px;
}
.btn-add {
  padding: 14px;
  color: var(--color5);
  font-size: 17px;
  background: var(--color3);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: transform 1s ease;
}
/* ocultar visualmente boton comprar del carrito si no hay productos agregados 
 */
.disabled {
  cursor: not-allowed;
  background-color: var(--color4);
  color: var(--background);
}

/* mostrar msj al agregar una compra al carrito */
.add-modal {
  padding: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background);
  background-color: var(--color3);
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: all 0.5s ease-out;
  transform: translateY(200%);
}
.active-modal {
  transform: translateY(0);
  transition: all 0.5s ease-in;
}

/*---------------------------------------     USUARIOS  login.html    --------------------------------------*/
.section-login {
  margin-top: 75px;
  width: min(100%, 1000px);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./img/imglogin.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.divcontenedorlogin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: min(90%, 500px);
  width: min(70%, 1000px);
  background-image: linear-gradient(
    to bottom,
    rgb(235, 226, 226, 0.9),
    rgb(161, 161, 161, 0.8)
  );
}

/* -------- INICIAR SESION ------- */
.divIniciar {
  padding-top: 50px;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  border-right: solid 2px var(--color4);
}

.divIniciar div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
/* DIV:USUARIO CONTRASEÑA */
.divIniciar div div {
  width: min(70%, 600px);
}
.divIniciar h2 {
  color: var(--color3);
  font-weight: 600;
  font-size: 2rem;
}

.btn-contraseña {
  padding: 6px 15px;
  background-color: var(--color4);
  border-radius: 6px;
  border: none;
  color: var(--color5);
  font-size: 0.8rem;
  font-weight: 300;
}

.btn-Iniciar {
  font-size: 1rem;
  font-weight: 400;
  padding: 6px 25px;
  color: var(--color5);
  background: var(--color3);
  border: none;
  border-radius: 7px;
  letter-spacing: 4px;
}

/*--------- REGISTRARSE -----------*/

.divRegistrarse h2 {
  color: var(--color3);
  font-weight: 600;
  font-size: 2rem;
}

/* INPUTS REGISTRARSE */
.divRegistrarse {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  padding: 40px 0;
}

.divRegistrarse div {
  width: 70%;
}
.registrarse {
  width: 100%;
  padding: 7px;
  border: solid 2px var(--color4);
  background-color: var(--color5);
  color: var(--color1);
  letter-spacing: 3px;
  border-radius: 8px;
}

.div-label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.label-registrarse {
  font-size: 14px;
  font-weight: 300;
  color: var(--color3);
}
#checkbox1:hover {
  cursor: pointer;
}

.submit-registro {
  padding: 6px 20px;
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--color3);
  color: var(--background);
  border: none;
  border-radius: 7px;
  letter-spacing: 4px;
  cursor: pointer;
}

/*  --------------------------------------     HERO    ----------------------------------- */
main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#mainhero {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainhero__img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./img/mar33.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainhero__divtexto {
  font-size: 2rem;
  padding: 30px 0;
  text-align: center;
  width: 70%;
  color: var(--color3);
  background-image: linear-gradient(
    to bottom,
    rgba(228, 228, 228, 0.9),
    hsl(0, 0%, 50%, 0.8)
  );
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainhero__divtexto h1 {
  font-size: 2.6rem;
}
.mainhero__divtexto h2 {
  color: var(--color1);
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 45px;
  width: 90%;
  text-align: center;
}

.hero-divbotones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 30%;
}

.hero-btnRegistrate,
.hero-btnDestinos {
  font-size: 1.1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  background-color: var(--color3);
  color: var(--color5);
  display: flex;
  gap: 4px;
}

/* ---------------------------------------    Beneficios    --------------------------------- */

#mainbeneficios {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color6);
}

#mainbeneficios h3 {
  color: var(--color2);
  font-weight: 700;
  font-size: 2.2rem;
  width: auto;
  text-align: center;
  padding: 0 40px;
}

.beneficioscontenedor {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  padding-bottom: 30px;
}

.divcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: 250px;
  height: 270px;
  border-radius: 8px;
  border: solid 3px var(--color4);
  color: var(--background);
  text-align: center;
}

.divcard-up {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgexcursion,
.imgdescuento {
  height: 90px;
  width: 90px;
}
.imgpack {
  height: 80px;
  width: 80px;
}
.divcard span {
  font-size: 23px;
  font-weight: 600;
  color: var(--color5);
  letter-spacing: 2px;
}
.divcard p {
  font-weight: 400;
  font-size: 21px;
  color: var(--color4);
}

/* -------------------------------------    Destinos    -------------------------------------- */
#maindestinos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color5);
}
/* div botones de categorias */
.categorias {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  gap: 10px;
}
.categories {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.category {
  background-color: var(--color3);
  width: auto;
  padding: 6px 10px;
  border: none;
  color: var(--background);
  font-size: 1rem;
  font-weight: 600;
  border-radius: 15px;
}
.category:hover {
  cursor: pointer;
}
.active {
  background-color: #ff6347;
  transition: transform 1s ease;
  transform: scale(1.05);
}
.divdestinos {
  min-height: 100vh;
  width: min(100%, 1300px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 50px;
  flex-wrap: wrap;
}

.card-destino {
  height: 310px;
  width: 370px;
  background-color: var(--color5);
  transition: transform 0.8s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-destino:hover {
  transform: scale(1.02);
}

.card-destino-down {
  border: var(--color4) 2px solid;
  border-top: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 5px;
}
.card-destino-down h3 {
  font-weight: 700;
  font-size: 28px;
  color: #ff6347;
  display: flex;
  justify-content: center;
  letter-spacing: 1.5px;
}

.down-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.down-items-1 {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.pDescripcion {
  font-weight: 500;
  font-size: 15px;
  color: var(--color3);
  text-align: initial;
  width: 100%;
  letter-spacing: 1px;
}
.pPrecioPersona {
  font-size: 13px;
  color: var(--color4);
  letter-spacing: 2px;
  font-weight: 600;
}
.down-items-1 span {
  font-weight: 600;
  font-size: 25px;
  color: #ff6347;
}

.down-items button {
  padding: 6px 8px;
  border-radius: 16px;
  border: none;
  background: var(--color2);
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.dimg {
  height: 190px;
  width: 370px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

/* -----------------------------------------    Contacto    ------------------------------------------- */

.divmapa {
  height: 50vh;
  width: 90%;
}
#maincontacto {
  background-color: var(--color5);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedorcontacto {
  width: min(100%, 1300px);
  min-height: 100vh;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
}

.divcontacto-down {
  display: flex;
  width: 90%;
  height: 40%;
}

.divform {
  height: 100%;
  width: min(70%, 1000px);
}

.divform h2 {
  color: var(--color3);
  font-weight: 500;
}

textarea {
  height: 15em;
  width: 90%;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: 400;
  border: solid 2px var(--color4);
  background-color: var(--color5);
  margin-bottom: 30px 0px;
  letter-spacing: 3px;
  color: var(--color1);
  border-radius: 10px;
}

.contacto-datos {
  padding: 18px;
  font-size: 1rem;
  font-weight: 400;
}

.contacto-datos:focus::-webkit-input-placeholder {
  opacity: 0;
}
.contacto-datos:focus::-moz-input-placeholder {
  opacity: 0;
}
.contacto-datos:focus::-ms-input-placeholder {
  opacity: 0;
}

.divinputs {
  margin-top: 30px;
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.divinput-50 {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.input-nombre,
.input-correo,
.input-telefono,
.input-asunto {
  width: 100%;
  border: solid 2px var(--color4);
  background-color: var(--color5);
  letter-spacing: 3px;
  border-radius: 8px;
}

.submit-contacto {
  margin-top: 30px;
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: var(--color3);
  color: #fff;
  border: none;
  border-radius: 15px;
  letter-spacing: 4px;
  cursor: pointer;
  margin-bottom: 40px;
}

.divdatos {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: max(30%, 300px);
  height: 50%;
  padding: 20px 0;
}

.divdatos-item {
  display: flex;
  gap: 20px;
}

.divdatos-item2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.divdatos-item2 span {
  font-weight: 600;
  font-size: 1.1rem;
}

.divdatos-item2 p {
  font-weight: 400;
  font-size: 17px;
  color: var(--color4);
}
.datoslogo {
  height: 40px;
}

/* ------------------------------------------    Footer    -------------------------------------- */

footer {
  height: 150px;
  width: 100%;
  background-color: var(--color6);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logok0footer {
  height: 145px;
}

.footer-div-logos {
  display: flex;
  gap: 15px;
}

.logofooter {
  font-size: 27px;
  color: var(--color2);
}

.logofooter:hover {
  color: var(--color5);
}

footer p {
  color: var(--color4);
  font-size: 18px;
  font-weight: 500;
}

footer span {
  color: #ff6347;
  font-weight: 800;
}
